.heading{
    margin: 30px auto;
    padding: 10px 10px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: rgb(10,28,42);
}

.outer-container{
    width: 30%;
    margin: auto;
}

.inner-container{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.error, .timer, .accuracy{
    border-radius: 20px;
    padding: 10px 10px;
    background-color: #CCD957;
    box-shadow: 5px 5px 5px black;
    
}

.block-heading{
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px; 
    padding: 5px 5px;  
    text-align: center; 
}

.block-text{
    padding: 5px 5px; 
    font-size: 40px;
}



.text-display{
    border-radius: 10px;
    margin: 30px auto;
    padding: 10px 10px;
    background-color: #CCD957;
    box-shadow: 5px 5px 5px black; 
    text-align: center;
}

.input-text{
    margin: 10px auto;
    padding: 10px 10px;
    border: 0.5px solid #757575;
    background-color: #F5F4C9;
    box-shadow: 5px 5px 5px black; 
    color: #757575;
    font-weight: bold;
    width: 100%;
    text-align: left;

}

.d-none{
    display: none;
}

.highlight-green{
    color: green;
}

.highlight-red{
    color: red;
    text-decoration: underline;
}

.restart-button{
    margin: 15px auto;
    background-color: #2C6965;
    padding: 7px 10px;
    display: block;
    box-shadow: 5px 5px 5px black;
}
